// Fonts
$mainFont: Arial, Helvetica, sans-serif;

// Colors
$mainFontColor: #121212;

// Sizes
$mainFontSize: 13px;
$mainLineHeight: 20px;
$mainFontWeight: 400;

// MediaWidth
$desktopWidth: 1280px;
$desktopWidthSM: 1024px;
$tabletWidth: 768px;
$tabletWidthSM: 640px;
$phoneWidth: 480px;
$phoneWidthSM: 320px;

